@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --dark: #333;
  --light: #eee;

  color: var(--dark);
  font: 20px/1 "Staatliches", sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  border: 1px solid var(--dark);
  border-radius: 0.25rem;
  color: var(--dark);
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--dark);
  color: var(--light);
}

.btn-container {
  margin-top: 2rem;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
}

.main-content__description {
  font-size: 1.5rem;
}

.main-header {
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  justify-content: center;
}

.main-header__logo {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  border: 2px solid var(--light);
  border-radius: 50%;
  font-size: 13rem;
  line-height: 0;
  margin-bottom: 2rem;
  padding: 10rem 7rem;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
