@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #333;
  font: 20px/1 "Staatliches", sans-serif;
}

#app {
  background-color: #000;
  height: 100vh;
}

.main-content {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
}

.main-content__description {
  font-size: 1.5rem;
}

.main-header {
  align-items: center;
  background-color: #333;
  color: #eee;
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  justify-content: center;
}
