@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --dark-blue: #357;

  color: #333;
  font: 20px/1 Montserrat, sans-serif;
}

img {
  width: 100%;
}
